.beta {
  text-align: center;
  line-height: 100px;
}

.search p {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input,
text {
  width: 600px;
}
.buttons {
  text-align: center;
}

.kutucuklar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.kutu {
  height: 80px;
}

.k1 {
  width: 400px;
  text-align: center;
  list-style: none;
  background-color: #f1c40f;
}

.k2 {
  width: 400px;
  text-align: center;
  list-style: none;
  background-color: #e67e22;
}

.k3 {
  width: 500px;
  text-align: center;

  background-color: #2ecc71;
}

footer p {
    text-align: center;
}

